<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <meta name="description" content="Cape Ann Amateur Radio Association provides volunteer radio communication support for races and events in the Cape Ann region of Massachusetts.">
  <meta name="theme-color" content="#4078c0">

  <!-- Open Graph tags for social sharing -->
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="Cape Ann Amateur Radio Association provides volunteer radio communication support for races and events in the Cape Ann region of Massachusetts.">
  <meta property="og:type" content="website">

  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/custom.css" />
</head>
<body>
  <header class="site-header">
    Cape Ann Amateur Radio Association<br/>
    Race &amp; Event Support
  </header>

  {% assign pages = collections.page | sort: 'data.weight' -%}
  <nav class="site-nav noprint" aria-label="Main navigation">
    <ul class="nav-main">
      {% for item in pages %}
        <li {% if page.url == item.url %}class="active"{% endif %}><a href="{{ item.url }}">{{ item.data.short_title | default: item.data.title }}</a></li>
      {% endfor %}
    </ul>

    <ul class="nav-external">
      <li><a href="https://caara.net/">CAARA</a></li>
    </ul>
  </nav>

  <div class="page-title">
    <h1>{{ title }}</h1>
  </div>

  <main class="page-content">
  {{ content }}
  </main>

  <footer>
    Copyright &copy; {% year %} Cape Ann Amateur Radio Association |
    Revision: <a href="{{ repository.url }}/commit/{{ vc.revision }}">{{ vc.revision | slice: 0, 10 }}</a> @ {{ vc.date }}
    <span class="noprint"> |
    <a href="{{ repository.url }}/blob/{{ repository.ref }}/{{ page.inputPath }}?plain=1">View page source</a> |
    <a href="{{ repository.url }}/edit/{{ repository.ref }}/{{ page.inputPath }}">Suggest changes</a>
    </span>
  </footer>
</body>
</html>
