<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/custom.css" />
</head>
<body>
  <div id="header">
    Cape Ann Amateur Radio Association (CAARA)
  </div>

{% assign pages = collections.page | sort: 'data.weight' %}

  <div id="navigation" class="noprint">
    <ul>
      {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.data.short_title | default: page.data.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div id="title">
    <h1>{{ title }}</h1>
  </div>

  <main id="content">
  {{ content }}
  </main>

  <div id="footer">
    Copyright &copy; {% year %} Cape Ann Amateur Radio Association |
    Last modified: {{ page.inputPath | lastModified | date: "%Y-%m-%d" }}
    <span class="noprint"> |
    <a href="{{ repository.url }}/blob/{{ repository.ref }}/{{ page.inputPath }}?plain=1">View page source</a> |
    <a href="{{ repository.url }}/edit/{{ repository.ref }}/{{ page.inputPath }}">Suggest changes</a>
    </span>
  </div>
</body>
</html>
