---
layout: base.liquid
---

{% assign cover_image_path = "/race/" | append: race.slug | append: "/cover.jpg" %}
{% assign map_path = "/race/" | append: race.slug | append: "/" | append: race.slug | append: ".pdf" %}
{% assign course_path = "/race/" | append: race.slug | append: "/" | append: race.slug | append: ".gpx" %}

{% if cover_image_path | fileExists %}
<div class="race-cover noprint">
  <img src="{{ cover_image_path }}">
</div>
{% endif %}

<table>
  <tr>
    <td><b>When</b></td><td>{{ race.date | date: "%b %d, %Y (%a)" }}</td>
  </tr>
  <tr>
    <td><b>Where</b></td><td><a href="{{ race.location | googleMapSearch }}">{{ race.location }}</a></td>
  </tr>
</table>

<p class="noprint"><a href="race.ics">Add to calendar</a></p>

<ul>
  {% if map_path | fileExists %}
    <li><a href="{{ map_path }}">Map</a></li>
  {% endif %}
  {% if course_path | fileExists %}
    <li><a href="{{ course_path }}">GPX Course</a></li>
  {% endif %}
</ul>

<h2>Staffing</h2>

{% if race.sheet %}
<div class="sheet">
<iframe style="height: 890px; width: 650px;" src="{{ race.sheet }}"></iframe>
</div>
{% else %}
  <p>Race details are not available at this time.</p>
{% endif %}
